# pce-m24.cfg

path = "."
path = "rom"

system {
	model = "m24"

	boot = 128
	rtc  = 1

	memtest = 1

	floppy_disk_drives = 2

	patch_bios_init  = 0
	patch_bios_int19 = 0
}

# Olivetti M24 configuration.
m24 {
	#  0-3: RAM size
	#  5:   NPU (0=not installed, 1=installed)
	#  6:   serial interface (0=8250, 1=8530)
	#  7:   system memory (0=RAM bank 0, 1=RAM bank 0 and 1)
	switches0 = 0x00

	# 0:   Floppy TPI (0=360K, 1=720K)
	# 1:   Floppy startup speed (0=800ms, 1=250ms)
	# 2:   0=HDU ROM on system board, 1=HDU ROM external
	# 3:   0=scroll cpu, 1=slow scroll
	# 4-5: monitor (0=EGA, 1=40*25, 2=80*25, 3=mono)
	# 6-7: MFDU (0=1 MFDU, 1=2 MFDU)
	switches1 = 0x60
}

cpu {
	model = "8086"
	speed = 2
}

load {
	format  = "binary"
	address = 0xfc000
#	file    = "olivetti-m24-1.36.rom"
	file    = "olivetti-m24-1.43.rom"
}

ram {
	address = 0
	size    = 640K
}

rom {
	address = 0xf0000
	size    = 64K
}

terminal {
	driver = "sdl"

#	escape = "CtrlRight"

	scale      = 1
	border     = 0
	fullscreen = 0
		
	mouse_mul_x = 1
	mouse_div_x = 1
	mouse_mul_y = 1
	mouse_div_y = 1
}

terminal {
	driver = "x11"

#	escape = "CtrlRight"

	scale = 1

	mouse_mul_x = 1
	mouse_div_x = 1
	mouse_mul_y = 1
	mouse_div_y = 1
}

terminal {
	driver = "null"
}

video {
	device = "olivetti"
	blink  = 30
}

video {
	device = "cga"
	font   = 0
	blink  = 30
}

video {
	device = "hgc"
	color  = "amber"
	blink  = 30
}

video {
	device = "mda"
	color  = "green"
	blink  = 30

#	color_normal = 0x55aa55
#	color_bright = 0xbbffbb
}

video {
	device = "ega"

	switches = 0x09

	enable_irq = 0
	irq        = 2

	blink      = 30

	section rom {
		address = 0xc0000
		size    = 32K
		default = 0xff

		file = "genoa-ega-2.41.rom"
	}
}

speaker {
	volume      = 250
	lowpass     = 8000
	sample_rate = 44100

	driver      = "sdl:lowpass=0"
#	driver      = "oss:dev=/dev/dsp:lowpass=0:wav=speaker.wav:wavfilter=0"
}

serial {
	uart      = "8250"
	address   = 0x3f8
	irq       = 4
	multichar = 1

#	driver = "null"
	driver = "stdio:file=ser1.out:flush=1"
#	driver = "posix:file=ser1.out:read=ser1.out:write=ser1.out"
#	driver = "pty:symlink=ser1"
#	driver = "tcp:port=5556"
#	driver = "tios:file=/dev/ttyS0"
}

serial {
	uart      = "8250"
	address   = 0x2f8
	irq       = 3
	multichar = 1

	driver    = "mouse:protocol=microsoft"
}

parport {
	address = 0x378
	driver  = "stdio:file=par1.out:flush=1"
}

parport {
	address = 0x278
	driver  = "stdio:file=par2.out:flush=1"
}

fdc {
	address  = 0x3f0
	irq      = 6

	drive0   = 0x00
	drive1   = 0x01
	#drive2   = 0x02
	#drive3   = 0x03

	accurate = 1
}

hdc {
	address = 0x320
	irq     = 5

	drive0  = 0x80
	drive1  = 0x81

	# switches: [d0 d0 d1 d1 d0 d0 d1 d1]
	#
	# id	c	h	s	rc	wp	ecc
	# 0	697	5	17	128	0	11
	# 1	612	4	17	256	256	11
	# 2	612	4	17	612	612	11
	# 3	306	4	17	306	128	11
	# 4	612	4	17	128	128	11
	# 5	697	5	17	128	0	11
	# 6	612	4	17	256	256	11
	# 7	612	4	17	128	128	11
	# 8	640	4	17	256	256	11
	# 9	1024	5	17	512	512	11
	# 10	981	5	17	981	981	11
	# 11	981	5	17	981	128	11
	# 12	925	7	17	925	0	11
	# 13	1024	8	17	1024	1024	11
	# 14	820	6	17	820	256	11
	# 15	-	-	-	-	-	-
	switches = 0b00000101
}

disk {
	drive    = 0x00
	type     = "auto"
	optional = 1
	file     = "fd0.psi"
	file     = "fd0.img"
}

disk {
	drive    = 0x01
	type     = "auto"
	optional = 1
	file     = "fd1.psi"
	file     = "fd1.img"
}

disk {
	drive    = 0x80
	type     = "auto"
	optional = 1
	file     = "hd0.pbi"
	file     = "hd0.img"
	cow      = "hd0.cow"
}

disk {
	drive    = 0x81
	type     = "auto"
	optional = 1
	file     = "hd1.pbi"
	file     = "hd1.img"
#	cow      = "hd1.cow"
}
