**.o
**.com
**.sys
**.exe
**/.DS_Store
/.vscode
/autom4te.cache
/Makefile
/Makefile.inc
/config.log
/config.status
/configure~
/src/arch/dos/pce-dos

/src/arch/macplus/pce-mac-classic.cfg
/src/arch/macplus/pce-mac-plus.cfg
/src/arch/macplus/pce-mac-se.cfg
/src/arch/macplus/pce-macplus
/src/arch/macplus/pcex/pcex.elf
/src/arch/macplus/pcex/macplus-pcex.rom

/src/arch/atarist/pce-atarist
/src/arch/atarist/pce-atarist.cfg

/src/arch/cpm80/pce-cpm80
/src/arch/cpm80/pce-cpm80.cfg

/src/arch/ibmpc/pce-ibmpc
/src/arch/ibmpc/pce-ibmpc.cfg
/src/arch/ibmpc/bios/ibmpc-pcex.rom

/src/config.h
/src/config.inc

/src/utils/aym/aym
/src/utils/pce-img/pce-img
/src/utils/pfi/pfi
/src/utils/pri/pri
/src/utils/psi/psi
/src/utils/pti/pti
