# mac-se.cfg

path = "."
path = "rom"

cfg.sony ?= 1

system {
	model   = "mac-se"
	memtest = 0
}

cpu {
	model = "68000"
	speed = 1
}

ram {
	address = 0x000000
	size    = 1024K
}

rom {
	file    = "mac-se.rom"
	address = 0x400000
	size    = 256K
}

if (cfg.sony) {
	rom {
		file    = "macplus-pcex.rom"
		address = 0xf80000
		size    = 16K
	}
}

adb {
	mouse         = true
	keyboard      = true
	keypad_motion = false
}

rtc {
	file     = "mac-se-pram.dat"
	realtime = 1
}

if (cfg.sony) {
	sony {
		enable         = 1
		insert_delay   = 0
		insert_delay_1 = 0
	}
}

iwm {
	drive {
		drive        = 1
		disk         = 1
		inserted     = 1
		single_sided = 0
		auto_rotate  = 1
	}

	drive {
		drive        = 2
		disk         = 2
		inserted     = 0
		single_sided = 0
		auto_rotate  = 1
	}

	drive {
		drive        = 3
		disk         = 3
		inserted     = 0
		single_sided = 0
		auto_rotate  = 1
	}
}

serial {
	port = 0

#	driver = "null"
#	driver = "posix:file=ser_a.out"
#	driver = "pty:symlink=ser_a"
	driver = "stdio:file=ser_a.out"
#	driver = "tcp:port=5556"
#	driver = "tios:file=/dev/ttyS0:log=ser_a.log"
}

serial {
	port = 1

	driver = "stdio:file=ser_b.out"
}

sound {
	lowpass = 8000

#	driver  = "oss:dev=/dev/dsp:lowpass=0:wav=sound.wav:wavfilter=0"
	driver  = "sdl:lowpass=0"
}

terminal {
	driver = "sdl"

#	escape = "CtrlRight"

	scale  = 2
	border = 0

	aspect_x = 3
	aspect_y = 2
}

terminal {
	driver = "x11"

#	escape = "CtrlRight"

	scale = 2

	aspect_x = 3
	aspect_y = 2
}

scsi {
	device {
		id    = 6
		drive = 0x80

		# CHS = 615/4/17
		vendor  = " SEAGATE"
		product = "          ST225N"
	}

	device {
		id    = 1
		drive = 0x81
	}

	device {
		id    = 2
		drive = 0x82
	}

	device {
		id    = 3
		drive = 0x83
	}
}

disk {
	drive    = 1
	type     = "auto"
	optional = 1
	file     = "fd1.pri"
	file     = "fd1.woz"
	file     = "fd1.image"
	file     = "fd1.psi"
	file     = "fd1.img"
}

disk {
	drive    = 2
	type     = "auto"
	optional = 1
	file     = "fd2.pri"
	file     = "fd2.woz"
	file     = "fd2.image"
	file     = "fd2.psi"
	file     = "fd2.img"
}

disk {
	drive    = 3
	type     = "auto"
	optional = 1
	file     = "fd3.pri"
	file     = "fd3.woz"
	file     = "fd3.image"
	file     = "fd3.psi"
	file     = "fd3.img"
}

disk {
	drive    = 4
	type     = "auto"
	optional = 1
	file     = "fd4.image"
	file     = "fd4.psi"
	file     = "fd4.img"
}

disk {
	drive    = 0x80
	type     = "auto"
	optional = 1
	file     = "hd1.pbi"
	file     = "hd1.img"
#	cow      = "hd1.cow"
}

disk {
	drive    = 0x81
	type     = "auto"
	optional = 1
	file     = "hd2.pbi"
	file     = "hd2.img"
#	cow      = "hd2.cow"
}

disk {
	drive    = 0x82
	type     = "auto"
	optional = 1
	file     = "hd3.pbi"
	file     = "hd3.img"
#	cow      = "hd3.cow"
}

disk {
	drive    = 0x83
	type     = "auto"
	optional = 1
	file     = "hd4.pbi"
	file     = "hd4.img"
#	cow      = "hd4.cow"
}
