# pce-xt.cfg

path = "."
path = "data/rom"

include? "local.inc"

cfg.model		?= "5160"
cfg.pcex		?= false
cfg.patch		?= true
cfg.cpu			?= "8088"
cfg.speed		?= cfg.pcex ? 0 : 5
cfg.ram			?= 640K
cfg.boot		?= 128
cfg.memtest		?= false
cfg.cga40		?= false
cfg.sound		?= true

cfg.bios.addr		?= 0xfe000
#cfg.bios		?= "ami-1986-10-03.rom"
#cfg.bios		?= "ami-1987-05-06.rom"
#cfg.bios		?= "ami-1989-01-31.rom"
#cfg.bios		?= "award-xt-2.05.rom"
#cfg.bios		?= "phoenix-2.27.rom"
#cfg.bios		?= "phoenix-2.51-1.rom"
#cfg.bios		?= "phoenix-2.51-2.rom"
#cfg.bios		?= "phoenix-2.52.rom"
#cfg.bios		?= "turbo-xt-3.10.rom"
cfg.bios		?= "turbo-xt-3.11.rom"
#cfg.bios		?= "turbo-xt-1987.rom"

#cfg.ega_bios		?= "ibm-ega.rom"
cfg.ega_bios		?= "genoa-ega-2.41.rom"
#cfg.ega_bios		?= "genoa-ega-4.11.rom"

#cfg.vga_bios		?= "ibm-vga.rom"
cfg.vga_bios		?= "tvga-d3.0-pce.rom"
#cfg.vga_bios		?= "et4000.rom"

cfg.fdc			?= true
cfg.fdc.accurate	?= false
cfg.fdc.eot		?= false

cfg.hdc			?= !cfg.pcex
cfg.hdc.bios		?= "dtc-mfm-1988-05-31.rom"
cfg.hdc.switches	?= 0xff
cfg.hdc.cfg_id		?= "DTCCXD01"
cfg.hd0.cow		?= false
cfg.hd1.cow		?= false

cfg.ser1.driver		?= "stdio:file=ser1.out:flush=1"
cfg.ser2.driver		?= "mouse:protocol=microsoft:xmul=1:ymul=1"
cfg.ser2.multichar	?= 4

cfg.par1.driver		?= "stdio:file=par1.out:flush=1"

cfg.speaker.driver	?= "sdl:lowpass=0"
cfg.speaker.volume	?= 250
cfg.speaker.lowpass	?= 8000
cfg.speaker.srate	?= 44100

cfg.pcex.addr		?= 0xf0000

include "data/pce-ibmpc.inc"
