# pce-cpm80.cfg

path = "."

system {
	model = "cpm"

	cpu = "Z80"
	speed = 0

	#con = "pty:symlink=con:log=con.log"
	con = "sercon"
	aux = "stdio:file=aux.out:flush=1"
	lst = "stdio:file=lst.out:flush=1"
}

ram {
	address = 0
	size    = 64K
}

disk {
	drive    = 0x00
	type     = "auto"
	file     = "fda.img"
	file     = "fda.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x01
	type     = "auto"
	file     = "fdb.img"
	file     = "fdb.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x02
	type     = "auto"
	file     = "fdc.img"
	file     = "fdc.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x03
	type     = "auto"
	file     = "fdd.img"
	file     = "fdd.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x04
	type     = "auto"
	file     = "fde.img"
	file     = "fde.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x05
	type     = "auto"
	file     = "fdf.img"
	file     = "fdf.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x06
	type     = "auto"
	file     = "fdg.img"
	file     = "fdg.psi"
	optional = 1
	readonly = 0
}

disk {
	drive    = 0x07
	type     = "auto"
	file     = "fdh.img"
	file     = "fdh.psi"
	optional = 1
	readonly = 0
}
